body {
  background-color: rgb(186, 227, 252);
  text-align: center;
}
.container {
  text-align: center;
  padding-top: 20px;
  height: 20vh;
  width: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
}
img {
  margin-top: 2%;
  height: 300px;
  width: 500px;
  border-radius: 5px;
}
H1 {
  height: 65px;
  width: 500px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
